# dependencies
node_modules/

# Angular build output
dist/
out-tsc/

# Angular cache
.angular/

# tests / coverage
coverage/

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# local env files
.env
.env.*

# editor / IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json

.idea/
*.iml

# OS files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# misc
*.tgz
